@tailwind base;
@tailwind components;
@tailwind utilities;

/* 行内代码样式 */
.inline-code {
  @apply bg-gray-200 text-gray-800 px-1 rounded;
}

code:not(pre code) {
  background-color: #f0f0f0;
  padding: 0 4px;
  border-radius: 4px;

  &::before,
  &::after {
    content: none !important;
  }
}

/* 基础表格样式 */
table {
  @apply w-full border-collapse rounded-lg overflow-hidden;
}

/* 表头样式 */
thead {
  @apply bg-white dark:bg-gray-800 sticky top-0 z-20 shadow-md;
}

/* 表头单元格样式 */
th {
  @apply px-6 py-4 text-left text-sm font-bold text-gray-700 dark:text-gray-300 border-b border-gray-200 dark:border-gray-700;
}

/* 表体单元格样式 */
td {
  @apply px-6 py-4 text-sm text-gray-600 dark:text-gray-400 border-b border-gray-200 dark:border-gray-700;
}

/* 表体行样式 */
tbody tr {
  @apply bg-white dark:bg-gray-900 transition-colors duration-200 ease-in-out;
}

/* 悬停效果 */
tbody tr:hover {
  @apply bg-gray-50 dark:bg-gray-800 cursor-pointer;
}

/* 响应式设计 */
@media (max-width: 768px) {
  table {
    @apply block overflow-x-auto;
  }

  thead {
    @apply hidden;
  }

  tbody tr {
    @apply flex flex-col mb-4;
  }

  tbody td {
    @apply flex justify-between items-center py-2;
    position: relative;
  }

  tbody td::before {
    @apply absolute left-0 w-1/2 font-medium text-gray-500 dark:text-gray-300 uppercase;
    content: attr(data-label);
  }
}

/* 列表优化 */
ul, ol {
  @apply pl-0 my-4;
}

/* 列表项文本样式 */
li {
  @apply text-gray-700 dark:text-gray-300;
}

/* 自定义有序列表数字标记 */
ol.custom-counter {
  counter-reset: custom-counter;
  list-style: none; /* 去除默认的数字标记 */
  padding-left: 0; /* 确保无缩进 */
}

ol.custom-counter li {
  counter-increment: custom-counter;
  position: relative; /* 为伪元素定位提供参考 */
  padding-left: 2em; /* 为数字标记留出空间 */
  margin-bottom: 0.5em; /* 增加列表项之间的间距 */
}

ol.custom-counter li::before {
  content: counter(custom-counter);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3b82f6; /* Tailwind's blue-500 */
  color: white;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 2px #3b82f6;
}


